[project]
	description = Titan TestPorts UNIX_DOMAIN_SOCKETasp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Elemer Lelik (erititan)
[access "refs/for/refs/*"]
	read = group user/Elemer Lelik (erititan)
	push = group user/Elemer Lelik (erititan)
	label-Code-Review = -2..+2 group user/Elemer Lelik (erititan)
	label-Verified = -1..+1 group user/Elemer Lelik (erititan)
	rebase = group user/Elemer Lelik (erititan)
	removeReviewer = group user/Elemer Lelik (erititan)
	submit = group user/Elemer Lelik (erititan)
[access "refs/heads/*"]
	read = group user/Elemer Lelik (erititan)
	create = group user/Elemer Lelik (erititan)
	push = +force group user/Elemer Lelik (erititan)
	pushMerge = group user/Elemer Lelik (erititan)
[access "refs/tags/*"]
	push = +force group user/Elemer Lelik (erititan)
	pushTag = group user/Elemer Lelik (erititan)
	pushSignedTag = group user/Elemer Lelik (erititan)
